@page
@model IuserInfo.Pages.Infos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form>
    <p>
        Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Go" />
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
    <a asp-page="Index">Back to List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Info[0].IuserAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info[0].IuserPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Info) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IuserAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IuserPassword)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
